%meta{ :charset => "utf-8" }
%link{href: "css/image-picker.css", rel: "stylesheet", type: "text/css"}/
%link{href: "http://rvera.github.io/image-picker/css/bootstrap-responsive.css", rel: "stylesheet", type: "text/css"}/
%link{href: "http://rvera.github.io/image-picker/examples.css", rel: "stylesheet", type: "text/css"}/
%link{href: "http://rvera.github.io/image-picker/image-picker/image-picker.css", rel: "stylesheet", type: "text/css"}/
%script{src: "http://rvera.github.io/image-picker/js/jquery.min.js", type: "text/javascript"}
%script{src: "http://rvera.github.io/image-picker/js/prettify.js", type: "text/javascript"}
%script{src: "http://rvera.github.io/image-picker/js/jquery.masonry.min.js", type: "text/javascript"}
%script{src: "http://rvera.github.io/image-picker/js/show_html.js", type: "text/javascript"}
%script{src: "http://rvera.github.io/image-picker/image-picker/image-picker.js", type: "text/javascript"}
%script{src: "javascript/run-picker.js", type: "text/javascript"}

%body
  #container
    %header
      %h1 DCE Video List
    #launch_url #{locals[:launch_url]}
    #main Select a Video
    .picker
      %select.image-picker.show-labels
        %option{value: ""}
        %option{"data-img-label" => "<b>Intro to test</b><br /><i>John Smith</i><br />Wed, Jun 25 2014", "data-img-src" => "http://dev-matterhorn.dce.harvard.edu/static/engage-player/a90bc60c-6dcc-4a19-9262-edc56904989c/attachment-4/SAMSUNG_Galaxy_S5_VIDEO_Sample_4K_ULTRA_HD_Video_Test.jpg", value: "1"}
        %option{"data-img-label" => "<b>Intro to Pears</b><br /><i>Peter Smith</i><br />Wed, Jun 27 2014", "data-img-src" => "http://dev-matterhorn.dce.harvard.edu/static/engage-player/900c0605-f895-4705-a8ae-41a4e6f7c8db/attachment-5/presenter_trimmed.jpg", value: "2"}
