<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
                       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
    <head>
        <title>Harvard DCE Matterhorn Publication Listing</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <table width="100%" cellspacing="0">
            <tbody>
                <tr class="search-item" style="background-color: rgb(239, 247, 249);">
                    <td
                        style="vertical-align: middle; text-align: center; width: 180px; height: 140px;"
                            ><a href="dev-matterhorn.dce.harvard.edu/engage/player/watch.html?id=daed3b59-f069-4a4d-aead-d049507019c2"
                            class="itemtitle">
                            <img alt="image"
                                src="dev-matterhorn.dce.harvard.edu/static/engage-player/daed3b59-f069-4a4d-aead-d049507019c2/attachment-5/presenter_trimmed.jpg"
                                class="thumb" /></a></td>
                    <td
                        style="vertical-align: top; text-align:left; padding-top: 10px; padding-right: 10px;">
                        <a href="dev-matterhorn.dce.harvard.edu/engage/player/watch.html?id=daed3b59-f069-4a4d-aead-d049507019c2"
                            class="itemtitle">3rd times a charm - re-test MATT-355</a>
                        <span class="itemdesc"> by jk</span><div class="timeDate">Wed, Jun 25 2014 -
                            13:25</div>
                    </td>


                    <td
                        style="vertical-align: top; text-align:right; padding-top: 10px; padding-right: 10px;"
                    ></td>
                </tr>
                <tr class="search-item" style="background-color: rgb(247, 251, 252);">
                    <td
                        style="vertical-align: middle; text-align: center; width: 180px; height: 140px;"
                            ><a href="dev-matterhorn.dce.harvard.edu/engage/player/watch.html?id=900c0605-f895-4705-a8ae-41a4e6f7c8db"
                            class="itemtitle"><img alt="image"
                                src="dev-matterhorn.dce.harvard.edu/static/engage-player/900c0605-f895-4705-a8ae-41a4e6f7c8db/attachment-5/presenter_trimmed.jpg"
                                class="thumb" /></a></td>
                    <td
                        style="vertical-align: top; text-align:left; padding-top: 10px; padding-right: 10px;"
                                ><b><a
                                href="dev-matterhorn.dce.harvard.edu/engage/player/watch.html?id=900c0605-f895-4705-a8ae-41a4e6f7c8db"
                                class="itemtitle">jk re-test MATT-355 final</a></b><span
                            class="itemdesc"> by jk</span><div class="timeDate">Wed, Jun 25 2014 -
                            12:29</div></td>
                    <td
                        style="vertical-align: top; text-align:right; padding-top: 10px; padding-right: 10px;"
                    ></td>
                </tr>
                <tr class="search-item" style="background-color: rgb(239, 247, 249);">
                    <td
                        style="vertical-align: middle; text-align: center; width: 180px; height: 140px;"
                            ><a href="dev-matterhorn.dce.harvard.edu/engage/player/watch.html?id=a29bf8ec-b41f-4ec3-a37f-d115f848ffff"
                            class="itemtitle"><img alt="image"
                                src="dev-matterhorn.dce.harvard.edu/static/engage-player/a29bf8ec-b41f-4ec3-a37f-d115f848ffff/attachment-5/presenter_trimmed.jpg"
                                class="thumb" /></a></td>
                    <td
                        style="vertical-align: top; text-align:left; padding-top: 10px; padding-right: 10px;"
                                ><b><a
                                href="dev-matterhorn.dce.harvard.edu/engage/player/watch.html?id=a29bf8ec-b41f-4ec3-a37f-d115f848ffff"
                                class="itemtitle">naomi test Q5</a></b><span class="itemdesc"> by
                            naomi farnsworth</span><div class="timeDate">Mon, Apr 28 2014 -
                            14:48</div></td>
                    <td
                        style="vertical-align: top; text-align:right; padding-top: 10px; padding-right: 10px;"
                    ></td>
                </tr>
                <tr class="search-item" style="background-color: rgb(247, 251, 252);">
                    <td
                        style="vertical-align: middle; text-align: center; width: 180px; height: 140px;"
                            ><a href="dev-matterhorn.dce.harvard.edu/engage/player/watch.html?id=8961dedd-4cf5-44bd-9c6a-f7c92b12dc2c"
                            class="itemtitle"><img alt="image"
                                src="dev-matterhorn.dce.harvard.edu/static/engage-player/8961dedd-4cf5-44bd-9c6a-f7c92b12dc2c/attachment-5/presenter_trimmed.jpg"
                                class="thumb" /></a></td>
                    <td
                        style="vertical-align: top; text-align:left; padding-top: 10px; padding-right: 10px;"
                                ><b><a
                                href="dev-matterhorn.dce.harvard.edu/engage/player/watch.html?id=8961dedd-4cf5-44bd-9c6a-f7c92b12dc2c"
                                class="itemtitle">naomi test H3</a></b><span class="itemdesc"> by
                            naomi farnsworth</span><div class="timeDate">Tue, Apr 22 2014 -
                            15:43</div></td>
                    <td
                        style="vertical-align: top; text-align:right; padding-top: 10px; padding-right: 10px;"
                    ></td>
                </tr>
                <tr class="search-item" style="background-color: rgb(239, 247, 249);">
                    <td
                        style="vertical-align: middle; text-align: center; width: 180px; height: 140px;"
                            ><a href="dev-matterhorn.dce.harvard.edu/engage/player/watch.html?id=4860b81b-2138-417c-9db1-687d4761e5c1"
                            class="itemtitle"><img alt="image"
                                src="dev-matterhorn.dce.harvard.edu/static/engage-player/4860b81b-2138-417c-9db1-687d4761e5c1/attachment-5/presenter_trimmed.jpg"
                                class="thumb" /></a></td>
                    <td
                        style="vertical-align: top; text-align:left; padding-top: 10px; padding-right: 10px;"
                                ><b><a
                                href="dev-matterhorn.dce.harvard.edu/engage/player/watch.html?id=4860b81b-2138-417c-9db1-687d4761e5c1"
                                class="itemtitle">Section 2</a></b><span class="itemdesc"> by Henry
                            H. Leitner</span>
                    </td>
                </tr>
            </tbody>
        </table>

    </body>
</html>
