<a href="http://dev-matterhorn.dce.harvard.edu/engage/player/watch.html?id=533a88cb-7efc-46c8-a8ff-09ca8c32ec75">
	<img id="image2" src="http://dev-matterhorn.dce.harvard.edu/static/engage-player/900c0605-f895-4705-a8ae-41a4e6f7c8db/attachment-5/presenter_trimmed.jpg">
</a>