<a href="http://dev-matterhorn.dce.harvard.edu/engage/player/watch.html?id=6ff320ad-de20-4f5e-8c57-fccc3a4bec4f">
	<img id="image1" src="http://dev-matterhorn.dce.harvard.edu/static/engage-player/a90bc60c-6dcc-4a19-9262-edc56904989c/attachment-4/SAMSUNG_Galaxy_S5_VIDEO_Sample_4K_ULTRA_HD_Video_Test.jpg">
</a>